.section__title {
  width: 100%;
  min-height: 8rem;
  background-color: $color-primary;
  display: block;
  position: relative;

  &--text {
    font-weight: 300;
    font-size: 3.5rem;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
