.pollingflex {
  width: $site-width;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  @include u-center-div;
}

.pollingflexcard {
  display: block;
  position: relative;
  background-color: $color-grey-light-1;
  color: $color-grey-dark;
  border-radius: 5px;

  &__number {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    color: $color-black;
  }

  &__name {
    background-color: $color-primary;
    padding: 2rem;

    &--h3 {
      color: $color-white;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3.5rem;
      font-weight: 200;
    }
  }

  &__voters {
    padding: 1.5rem 2rem 0 2rem;

    &--name {
      margin: 1rem 0 0 0;
      line-height: 1rem;
    }

    &--number {
      font-size: 2.5rem;
      padding: 0 0 0.5rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-dark;
      }
    }
  }

  &__critical {
    width: 100%;
    height: auto;
    background-color: $color-grey-dark;
    border-radius: 0 0 5px 5px;

    &--state {
      color: $color-white;
      text-align: center;
      padding: 1rem 0;
      text-transform: uppercase;
    }
  }
}
