.mandala {
  display: block;
  position: relative;
  height: auto;
  margin-top: 175px;
  @include u-center-div;

  &__name {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    background-color: $color-primary;
    margin-bottom: 5rem;

    &--h2 {
      color: $color-white;
      text-align: center;
      padding: 1rem 0;
      text-transform: uppercase;
    }
  }
}

.villagenav {
  width: $site-width;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 5rem;
  align-items: center;
  @include u-center-div;

  &__button {
    width: calc((100% - 10rem) / 3);
    height: 8rem;
    background-color: $color-primary;
    display: block;
    position: relative;
    border-radius: 5px;
    color: $color-white;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $color-primary-dark;
      transform: translateY(-0.5rem);
    }

    &--text {
      color: $color-white;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
    }
  }
}
