*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.u-margin-top-bigX {
  margin-bottom: 10rem; }

.u-center-div {
  text-align: center; }

.sectionpolice {
  width: 100%;
  height: auto;
  display: block;
  position: relative; }

.policestations {
  width: 114rem;
  height: 50rem;
  margin: 0 auto;
  padding: 5rem 0; }

.itemlistingflex {
  width: 114rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto; }
  .itemlistingflex__el {
    width: calc((100% - 10rem) / 3);
    height: 8rem;
    display: block;
    position: relative;
    background-color: #0cb6c9;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s ease-in; }
    .itemlistingflex__el:hover {
      background-color: #0490a0; }
    .itemlistingflex__el--text {
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 3rem;
      color: #fff;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.pollingflex {
  width: 114rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto; }
  .pollingflex__el {
    width: calc((100% - 10rem) / 3);
    height: auto;
    display: block;
    position: relative;
    background-color: #f7f7f7f7;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s ease-in; }
    .pollingflex__el:hover {
      background-color: #eee; }

.inactive {
  background-color: #777 !important; }

.pollingflex {
  width: 114rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto; }

.pollingflexcard {
  display: block;
  position: relative;
  background-color: #f7f7f7f7;
  color: #777;
  border-radius: 5px; }
  .pollingflexcard__number {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #000; }
  .pollingflexcard__name {
    background-color: #0cb6c9;
    padding: 2rem; }
    .pollingflexcard__name--h3 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3.5rem;
      font-weight: 200; }
  .pollingflexcard__voters {
    padding: 1.5rem 2rem 0 2rem; }
    .pollingflexcard__voters--name {
      margin: 1rem 0 0 0;
      line-height: 1rem; }
    .pollingflexcard__voters--number {
      font-size: 2.5rem;
      padding: 0 0 0.5rem 0; }
      .pollingflexcard__voters--number:not(:last-child) {
        border-bottom: 1px solid #777; }
  .pollingflexcard__critical {
    width: 100%;
    height: auto;
    background-color: #777;
    border-radius: 0 0 5px 5px; }
    .pollingflexcard__critical--state {
      color: #fff;
      text-align: center;
      padding: 1rem 0;
      text-transform: uppercase; }

.header {
  width: 100%;
  height: 20rem;
  display: block;
  position: relative;
  padding: 2rem 0;
  border-bottom: 2px solid #0490a0;
  box-shadow: 0 1rem 3rem rgba(119, 119, 119, 0.3); }
  .header__logobox {
    display: block;
    position: relative;
    width: 114rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto; }
    .header__logobox--img {
      display: inline-block; }
      .header__logobox--img img {
        height: 90px; }
    .header__logobox--text {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 300;
      color: #0cb6c9; }
    .header__logobox--link {
      text-decoration: none; }

.section__title {
  width: 100%;
  min-height: 8rem;
  background-color: #0cb6c9;
  display: block;
  position: relative; }
  .section__title--text {
    font-weight: 300;
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-dropdown {
  width: 100%;
  height: calc(100vh - 20rem);
  display: block;
  position: relative; }

.form-container {
  width: 114rem;
  height: auto;
  display: block;
  margin: 0 auto; }
  .form-container #pollform {
    width: 10rem; }

.mandalam {
  width: 100%;
  height: calc(100vh - 20rem);
  display: block;
  position: relative; }
  .mandalam .mandalamflex {
    width: 114rem;
    height: auto;
    top: 45%;
    transform: translateY(-50%);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 auto; }
    .mandalam .mandalamflex__el {
      width: calc((100% - 10rem) / 3);
      height: 12rem;
      display: block;
      position: relative;
      background-color: #0cb6c9;
      text-decoration: none;
      border-radius: 4px;
      transition: all 0.2s ease-in; }
      .mandalam .mandalamflex__el:hover {
        background-color: #0490a0; }
      .mandalam .mandalamflex__el--text {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-wrap: nowrap; }
